{% extends "govuk-verify.html" %}

{% set section = "index" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Components</a>
            </li>
            <li class="active">
                GOV.UK Verify
            </li>
          </ol>
        </div>

      </div>

      <div class="column-one-third column-float-right">
         <img class="component-logo" src="https://govuk-verify.cloudapps.digital/images/verify-product-image.png" style="width: 100%; margin-top: 40px;">
      </div>

      <!-- /public/images/govuk-verify-white.png -->

      <div class="column-two-thirds column-float-left">

        <h1 class="heading-xlarge">Prove identity online</h1>

        <ul class="lede list list-bullet">
          <li>
						Protect your service against fraud
					</li>
					<li>
						Get consent to use personal data
					</li>
          <li>
						Prove users are eligible for your service
					</li>
				</ul>

        <a class="button button-start" href="how-to-connect" role="button">
          Find out how to connect
        </a>

        <br><br>
      </div>

    </div>
  </div>
</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">How it works</h2>

      <p>
				Users prove their identity to a private sector company who hold data about them and are trusted by government.
			</p>
			<p>
				Your service then receives the user’s verified name, address and date of birth.
			</p>

    </div>
  </div>

  <hr style="margin-bottom: 0;">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">How it's being used</h2>

      <ul class="list list-bullet">
        <li>Verify reduces the time to access redundancy payments, to 3 days down from 3 months</li>
        <li>Operator Licensing uses Verify to remove the need for a wet signature</li>
        <li>DBS is making sure the right individuals are vetted using Verify</li>
      </ul>

    </div>
  </div>

  <hr style="margin-bottom: 0;">

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Who else is using it</h2>

      <br>

      <div class="logo column-one-quarter" style="padding-left: 10px; border-left: 3px solid #00beb7;">
        <span style="display:block; height: 50px; background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png); background-size: auto 40px; background-repeat: no-repeat;"></span>
        <span style="font-family: Arial; line-height: 1em;">Department<br>for Work &amp;<br>Pentions</span>
      </div>

      <div class="logo column-one-quarter" style="padding-left: 10px; border-left: 3px solid #00a33b;">
        <span style="display:block; height: 50px; background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png); background-size: auto 40px; background-repeat: no-repeat;"></span>
        <span style="font-family: Arial; line-height: 1em;">Department<br>for Environment<br>Food &amp; Rural Affairs</span>
      </div>

      <div class="logo column-one-quarter" style="padding-left: 10px; border-left: 3px solid #006c56;">
        <span style="display:block; height: 50px; background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png); background-size: auto 40px; background-repeat: no-repeat;"></span>
        <span style="font-family: Arial; line-height: 1em;">Driver &amp; Vehicle<br>Licencing<br>Agency</span>
      </div>

      <div class="logo column-one-quarter" style="padding-left: 10px; border-left: 3px solid #003479;">
        <span style="display:block; height: 50px; background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png); background-size: auto 40px; background-repeat: no-repeat;"></span>
        <span style="font-family: Arial; line-height: 1em;">Department for<br>Business, Energy<br>&amp; Industrial Strategy</span>
      </div>

    </div>
  </div>

  <hr style="margin-bottom: 0;">

  <div class="grid-row">
    <div class="column-two-thirds" style="margin-bottom: 20px;">
      <h2 class="heading-large">How much it's used</h2>
      <p>Government has committed to 25 million GOV.UK Verify identity accounts by 2020, as part of the transformation strategy<p>
    </div>

    <div class="column-one-half">
      <div class="data">
        <span class="data-item bold-xxlarge">4.19m</span>
        <span class="data-item bold-xsmall" style="line-height: 1.5em;">The number of times a government service have been accessed with Verify so far</span>
      </div>
    </div>

    <div class="column-one-half">
      <div class="data">
        <span class="data-item bold-xxlarge">40,000</span>
        <span class="data-item bold-xsmall" style="line-height: 1.5em;">The number of users who prove their identity each week</span>
      </div>
    </div>

  </div>

  <hr style="margin-bottom: 0;">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">How much it costs</h2>
      <p>£1.20 per verified identity per department per year for central government.</p>
      <p>Local government services, NHS services, police and private sector companies should get in touch with X.</p>
    </div>
  </div>

	<hr />

	<a class="button button-start" href="how-to-connect" role="button">
		Find out how to connect
	</a>


</main>

{% endblock %}
