
{% macro headerNav(homepage_url, navItems, section) %}

<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <ul id="proposition-links" class="right-aligned">

        {% for href, title in navItems %}
          <li><a {% if href == section %}class="active"{% endif %} href="{% if not 'http' in href %}{{ homepage_url }}{% endif %}{{ href }}">{{ title }}</a></li>
        {% endfor %}

      </ul>
    </nav>
  </div>
</div>

{% endmacro %}

{% macro productName(name, phase) %}

GOV.UK&nbsp;&nbsp;{% if name %}<span class="product-name">{{ name }}{% endif %}</span>{% if phase %}<span class="phase-banner"><strong class="phase-tag">{{ phase }}</strong></span>{% endif %}

{% endmacro %}

{% macro taskList(tasks) %}
    <div data-module="tasklist" class="pub-c-task-list pub-c-task-list--large pub-c-task-list--active">
      <div class="pub-c-task-list__controls"></div>
      <ol class="pub-c-task-list__groups">
        {% for task in tasks %}
        <li class="pub-c-task-list__group ">
          {% set step = loop.index %}
          <span class="pub-c-task-list__number">
            <span class="visuallyhidden">Step</span> {{ step }}
          </span>
          <div class="pub-c-task-list__step js-step" id="check-you&#39;re-allowed-to-drive" data-track-count="tasklistSection">
            <div class="pub-c-task-list__header js-toggle-panel" data-position="{{ step }}.1">
              <h2 class="pub-c-task-list__title js-step-title">
                <button class="pub-c-task-list__button pub-c-task-list__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-{{ step }}">
                  {{ task.name }}
                </button>
              </h2>
              <span class="pub-c-task-list__icon pub-c-task-list__icon--plus"></span><span class="pub-c-task-list__icon pub-c-task-list__icon--minus"></span></div>
            <div class="pub-c-task-list__panel js-panel js-hidden" id="step-panel-{{ step }}">
              <div class="pub-c-task-list__panel-content">
                <p class="pub-c-task-list__panel-description">
                 {{ task.content }}
                </p>
              </div>
              <ol class="pub-c-task-list__panel-links" data-length="3">
                {% for subtask in task.subtasks %}
                <li class="pub-c-task-list__panel-link ">
                  <a href="{{ subtask.href }}" class="pub-c-task-list__panel-link-item js-panel-link" data-position="{{ step }}.1.{{ loop.index }}">
                    {{ subtask.name }}
                  </a>
                </li>
                {% endfor %}
              </ol>
            </div>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
{% endmacro %}
