{% extends "connect-to-verify-2/layout.html" %}

{% block page_title %}
  Dashboard - GOV.UK Verify
{% endblock %}

{% block content %}
<div class="phase-banner">
  <div class="service-info">
    <h4 class="service-info--name heading-small">{{ data['service-name'] }}</h4>
    <p>
      <strong class="phase-tag">test</strong>
    </p>
  </div>
  <nav role="navigation" class="service-navigation">
    <ul class="service-navigation--list">
      <li class="service-navigation--list-item service-navigation--list-item-active"><a id="navigation-menu-home" href="/connect-to-verify-2">Dashboard</a></li>
      <li class="service-navigation--list-item"><a id="navigation-menu-settings" href="/connect-to-verify-2/settings/service-details">Settings</a></li>
    </ul>
  </nav>
</div>

<main id="content" role="main">
  <h1 class="page-title heading-large first-steps__title">Dashboard</h1>

  <div class="grid-row more-margin-bottom">
    <div class="column-third dashboard-panel">
      <div class="data">
        <span class="data-item bold-xxlarge">0</span>
        <span class="data-item bold-xsmall">Successful verifications today</span>
      </div>
    </div>
    <div class="column-third dashboard-panel">
      <div class="data">
        <span class="data-item bold-xxlarge">0</span>
        <span class="data-item bold-xsmall">Successful matches today</span>
      </div>
    </div>
    <div class="column-third dashboard-panel">
      <h3 class="heading-small">MSA Status</h3>
      <div><span class="status-flag not-configured">Not configured</span></div>
      <a href="/connect-to-verify-2/settings/matching-service-details" class="bold-xsmall">Configure your MSA</a>
    </div>
  </div>

  <div class="flex-grid" data-click-events data-click-category="Dashboard" data-click-action="First steps link clicked">
    <div class="flex-grid--row">
      <article class="flex-grid--column-half first-steps__box border-bottom">
        <a href="https://govuk-verify.herokuapp.com/start-pages/start-view-share-driving-licence-loa2">
          <h2 class="heading-small">Try the Verify user journey</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis facilis corporis et rerum, porro, eligendi culpa itaque vero laudantium deserunt</p>
        </a>
      </article>

      <article class="flex-grid--column-half first-steps__box border-bottom">
        <a href="https://govuk-verify.herokuapp.com/admin/add-service">
          <h2 class="heading-small">Test with your users</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde vel aspernatur maxime, error vero qui delectus consectetur ex exercitationem consequuntur</p>
        </a>
      </article>

      <article class="flex-grid--column-half first-steps__box">
        <a href="/connect-to-verify-2/my-services">
          <h2 class="heading-small">Manage team members</h2>
          <p>Administrators can manage team members in My&nbsp;services.</p>
        </a>
      </article>

      <article class="flex-grid--column-half first-steps__box">
        <a href="/how-to-connect">
          <h2 class="heading-small">Next steps to go live</h2>
          <p>Read our documentation to see how your service can go live with GOV.UK&nbsp;Verify.</p>
        </a>
      </article>
    </div>
  </div>
 
</main>
{% endblock %}
