{% extends "connect-to-verify-2/layout.html" %}

{% block page_title %}
  Dashboard - GOV.UK Verify
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="phase-banner">
    <div class="service-info">
      <h4 class="service-info--name heading-small">{{ data['service-name'] }}</h4>
      <p>
        <strong class="phase-tag">sandbox test </strong>
      </p>
    </div>
    <nav role="navigation" class="service-navigation">
      <ul class="service-navigation--list">
              <li class="service-navigation--list-item service-navigation--list-item-active"><a id="navigation-menu-home" href="/">Dashboard</a></li>
              <li class="service-navigation--list-item"><a id="navigation-menu-transactions" href="/transactions">Transactions</a></li>
              <li class="service-navigation--list-item"><a id="navigation-menu-settings" href="/tokens">Settings</a></li>
      </ul>
    </nav>
  </div>

  <h1 class="page-title heading-large first-steps__title">Dashboard</h1>

</main>
{% endblock %}
