{% extends "layout.html" %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <ul id="proposition-links">
          <li><a href="/verify">About</a></li>
          <li><a href="https://alphagov.github.io/rp-onboarding-tech-docs/">Documentation</a></li>
          <li><a href="/connect-to-verify-2/not-implemented">Support</a></li>
          <li><a href="/connect-to-verify-2/not-implemented" class="active">Sign in</a></li>
        </ul>
      </nav>
    </div>
  </div>

{% endblock %}