{% extends "layout.html" %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <ul id="proposition-links">
          <li><a href="url-to-page-1">About</a></li>
          <li><a href="url-to-page-2">Documentation</a></li>
          <li><a href="url-to-page-2">Support</a></li>
          <li><a href="url-to-page-2" class="active">Sign in</a></li>
        </ul>
      </nav>
    </div>
  </div>

{% endblock %}