{% extends "connect-to-verify-2/layout_logged_out.html" %}

{% block page_title %}
  Connect to Verify - Not implemented
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="#" onclick="history.back()">Back</a>

      <h1 class="heading-large">This page has not been implemented
      </h1>


    </div>
  </div>
</main>

{% endblock %}
