// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.

@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/headers';
@import 'patterns/product-overview-page';
@import 'patterns/search-in-header';
@import 'patterns/tabs';
@import 'patterns/subnav';
@import 'patterns/helpers';
@import 'patterns/helpers';
@import 'task-list-header-print';
@import 'task-list-header';
@import 'task-list-print';
@import 'task-list';
@import 'header';
@import 'service-header';
@import 'dashboard';
@import 'dashboard-first-steps';
@import 'flex-grid';
@import 'dev-tokens';
@import 'service-switcher';
@import 'admin-list';
@import 'hacks';
@import 'modules/_sub-navigation';
@import 'modules/_breadcrumbs';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.section-header {
	margin: $gutter 0 $gutter/2 0;
	color: $grey-1;
	font-size: em(19);
	border-bottom: 1px solid $grey-2;
	padding-bottom: 5px;
}

.page-header__context {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 24px;
    line-height: 1.25;
    color: #6f777b;
    margin-bottom: em(10);
    padding-bottom: .167em;

    @media screen and (max-width: 640px) {
    	font-size: 18px;
    	line-height: 1.2;
    }
}

.lede.list{
	margin-bottom: 2em;
	li{
		font-size: 1em;
	}
}

.services-link {
  clear: both;
  padding-top: 30px;
}

span.heading-small { display: block; }

.lead-in { margin-bottom: 0; }

.lead-in-bold { font-weight: bold; }

#content.supplementary { margin-top: 0; }

.screenshot {
  width: 100%;
  margin-top: 45px;
}

.logo {
  padding-left: 10px;
  border-left-width: 3px;
  border-left-style: solid;
  margin-bottom: 30px;

  .logo-logo {
    display:block;
    height: 50px;
    background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px_x2-3eb6258ba699c8ae2c3cf370e8a4422f37bdae95ae084a99115841a8bf0543a7.png);
    background-size: auto 40px;
    background-repeat: no-repeat;
  }

  .logo-text {
    font-size: 0.8em;
    font-family: Arial;
    line-height: 1em;
  }
}

.logo-defra {
  border-color: #00a33b;
}

.logo-dvla {
  border-color: #006c56;
}

.logo-dwp {
  border-color: #00beb7;
}

.logo-hmrc {
  border-color: #009390;

  .logo-logo {
    background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/hmrc_crest_27px_x2-50c5ae1eac742b467695f5889f93024627e14f1c03a39db7a8e55edfe5d4417a.png);
  }
}