{% extends "connect-to-verify-2/layout.html" %}

{% block page_title %}
  Team members - GOV.UK Verify
{% endblock %}

{% block body_classes %}{% endblock %}

{% block content %}
<div class="phase-banner">
  <div class="service-info">
    <h4 class="service-info--name heading-small">{{data['service-name']}}</h4>
  </div>
</div>
<main id="content" role="main">
  <a href="/connect-to-verify-2/my-services" class="link-back">My services</a>
  <h1 class="heading-large">Team members</h1>
  <p class="admin-lede">Team member changes affect both live and test environments.</p>
  <div class="grid-row">
    <div class="column-two-thirds admin-list-group">
      <h2 id="active-team-members-heading" class="admin-list-group-heading">Active (1)</h2>
      <div class="admin-list" id="team-members-admin-list">
        <h3 id="admin-role-header" class="admin-list-heading">Administrators (1)</h3>
        <ul>
          <li>
            <a href="/connect-to-verify-2/not-implemented">{{data['email']}} (you)</a>
          </li>
        </ul>
      </div>
      <div class="admin-list" id="team-members-view-only-list">
        <h3 id="view-only-role-header" class="admin-list-heading">View only (0)</h3>
        <ul>
        </ul>
      </div>
    </div>
    <a id="invite-team-member-link" class="button" href="/connect-to-verify-2/service/4c16ca1f7d76473aaf7919973ba28925/team-members/invite">Invite a team member</a>
  </div>
</main>
{% endblock %}
