{% extends "connect-to-verify-2/settings/layout.html" %}

{% block page_title %}
  Matching service certificates - GOV.UK Verify
{% endblock %}


{% set settingsPage = 'matching-service-certificates' %}
{% block formContent %}
<div class="column-two-thirds">
  <h1 class="page-title heading-large">Matching service certificates</h1>

  {% if revoked %}
  <ul class="tabs">
    <li><a href="/connect-to-verify-2/settings/matching-service-certificates">Active certificates</a></li>
    <li class="current">Obsolete certificates</li>
  </ul>
  <div class="tab-content current">
    <h2 class="heading-medium remove-top-margin">There are no obsolete certificates</h2>
  </div>
  {% else %}
  <ul class="tabs">
    <li class="current">Active certificates</li>
    <li><a href="/connect-to-verify-2/settings/matching-service-certificates/obsolete">Obsolete certificates</a></li>
  </ul>
  <div class="tab-content current">
    {% if data['matching-service-certificates-cert-uploaded'] %}
    <h2 class="heading-medium remove-top-margin">There is 1 active certificate</h2>
    <a class="button" href="/connect-to-verify-2/settings/matching-service-certificates/upload">
      Upload a certificate
    </a>
    <div class="key-list">
      <div class="key-list-item">
        <h3 class="heading-small remove-top-margin">{{ data['service-name'] }} MSA signing 1</h3>
        <div class="key-list-item-meta">
          <dl>
            <div>
              <dt>Use: </dt><dd>Signing</dd>
            </div>
            <div>
              <dt>Created by: </dt><dd>{{ data['email'] }}</dd>
            </div>
            <div>
              <dt>Issued: </dt><dd>2018-02-25T12:54:39Z (1 day ago)</dd>
            </div>
            <div>
              <dt>Expires: </dt><dd>2018-05-25T12:54:39Z (~3 months)</dd>
            </div>
            <div>
              <dt>RSA Key Fingerprint: </dt><dd>b22b389cb27d0fd52ba61734a3a55c472c2831ce</dd>
            </div>
          </dl>
        </div>
        <div class="key-list-item-controls js-edit-controls">
          <a href="/connect-to-verify-2/not-implemented">View certificate</a>
          <a href="/connect-to-verify-2/not-implemented">Revoke certificate</a>
        </div>
      </div>
    </div>
    {% else %}
    <h2 class="heading-medium remove-top-margin">There are no active certificates</h2>
    <div class="notice">
      <i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
      <strong class="bold-small">
      You must have at least one active signing certificate and exactly one active encryption certificate for your matching service to work with Verify.
      </strong>
    </div>
    <br>
    <br>
    <a class="button" href="/connect-to-verify-2/settings/matching-service-certificates/upload">
      Upload a certificate
    </a>
    {% endif %}
  </div>
  {% endif %}

</div>
{% endblock %}
