{% extends "connect-to-verify-2/settings/layout.html" %}

{% block page_title %}
  Service details - GOV.UK Verify
{% endblock %}


{% set settingsPage = 'service-details' %}
{% block formContent %}
<form class="column-two-thirds">
  <h1 class="page-title heading-large">Service details</h1>
  <p>Verify only accepts requests from services it knows about for security reasons.</p>
  <p>
    To configure your service you need to tell Verify an entity id so we can
    uniquely identify your service and the URL we should send the user back to
    once their identity has been verified.
  </p>
  <div class="form-group">
    <div><label class="heading-small" for="service_entity_id">Entity id</label></div>
    <input class="form-control " id="service_entity_id" name="service_entity_id" value="">
    <details>
      <summary>
        <span class="summary">What is this?</span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          Your entity id is a URL that Verify will use to uniquely identify your service. For example:
          <div><code>https://{your-service-name}.{your-integration-domain}/verify</code></div>
        </p>
      </div>
    </details>
  </div>
  <div class="form-group ">
    <div><label class="heading-small" for="assertion_consumer_services_https_url">SAML response URL</label></div>
    <input class="form-control " id="assertion_consumer_services_https_url" name="onboarding_form[assertion_consumer_services_https_url]" value="">
    <details>
      <summary>
        <span class="summary">What is this?</span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          The SAML response URL is the URL you use to receive SAML responses from Verify. For example:
          <div><code>https://{your-service-name}.{your-integration-domain}/verify/response</code></div>
        </p>
      </div>
    </details>
  </div>
  <div class="form-group">
    <input class="button" type="submit" value="Save">
  </div>
</form>
{% endblock %}
