{% extends "connect-to-verify-2/settings/layout.html" %}

{% block page_title %}
  Test users - GOV.UK Verify
{% endblock %}


{% set settingsPage = 4 %}
{% block formContent %}
<form class="column-two-thirds">
  <h1 class="page-title heading-large">Test users</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste voluptates laborum quis nam inventore asperiores neque non alias? Quaerat tempore doloribus provident modi nam minus nostrum quas dolorem nesciunt eum?</p>
  <div class="form-group">
    <input class="button" type="submit" value="Save">
  </div>
</form>
{% endblock %}
