{% extends "connect-to-verify-2/settings/layout.html" %}

{% block page_title %}
  Test users - GOV.UK Verify
{% endblock %}


{% set settingsPage = 4 %}
{% set serviceSlug = data['service-name'] | lower | replace(' ', '-') | replace("'", '') %}
{% block formContent %}
<form class="column-two-thirds">
  <h1 class="page-title heading-large">Test users</h1>
  <p>Once you start using testing with Verify you will need to sign in with one of our stub identity providers.</p>
  <p>
    You can register new users through the user interface of the stubs as
    part of the journey. Alternatively you can add them through the API, which
    is useful if you need to add users in bulk, or automatically during
    tests.
  </p>
  <h2 class="heading-medium">Using the API to add users</h2>
  <p>Your service has automatically been configured with two identity providers:</p>
  <pre><code>post-office-{{serviceSlug}}
experian-{{serviceSlug}}
  </code></pre>
  <p>You can access the API using this username and password in your HTTP basic credentials:</p>
  <pre><code>Username: nS9OsX6
Password: EW7Bk2Rt3sJgwUDAXhq
  </code></pre>
  <p>See <a href="https://alphagov.github.io/rp-onboarding-tech-docs/pages/env/envEndToEndTests.html#createtestusers">the documentation</a> on creating users through the API.</p>
</form>
{% endblock %}
