{% extends "connect-to-verify-2/settings/layout.html" %}

{% block page_title %}
  Upload a certificate - GOV.UK Verify
{% endblock %}

{% block formContent %}
<form class="column-two-thirds" method="post" action="/connect-to-verify-2/settings/{{settingsPage}}">
  <h1 class="page-title heading-large">Upload a certificate</h1>
  <div class="form-group">
    <fieldset>
      <legend>
        <h2 class="heading-medium">Certificate usage</h2>
      </legend>
      <p>For security reasons, Verify requires separate certificates for signing and encryption. You must upload at least one certificate of each type.</p>
      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="signing">
        <label for="radio-1">Signing</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="radio-group" value="encryption">
        <label for="radio-2">Encryption</label>
      </div>
    </fieldset>
  </div>
  <h2 class="heading-medium">Certificate</h2>
  <div class="form-group">
    <label class="form-label" for="certificate">Certificate (in .pem or .crt format)</label>
    <input class="attachment svc-attachment" name="certificate" type="file" accept=".crt, .pem">
  </div>
  <input type="hidden" name="{{settingsPage}}-cert-uploaded" id="{{settingsPage}}-cert-uploaded" value="true">
  <div class="form-group">
    <input type="hidden" value="true" name="certificates-complete">
    <input class="button" type="submit" value="Upload certificate">
  </div>
</form>
{% endblock %}