{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="wrapper" id="wrapper">

		<div class="phase-banner">
		  <p>
		    <strong class="phase-tag">PROTOTYPE</strong>
		    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
		  </p>
		</div>

		<div class="breadcrumbs">
		    <ol>
		      <li><a href="/">GOV.UK Verify</a></li>
		      <li aria-current="page">How to connect to Verify</li>
		    </ol>
		</div>

	    <div class="grid-row">
	    	<div class="column-two-thirds">
	        <h1 class="heading-xlarge">How to connect to Verify</h1>
			<ul class="list list-bullet">
				<li>Hello!</li>
			</ul>
	    </div>
	  </div>

	</div><!-- / wrapper -->

</main>

{% endblock %}


