{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify - Submit certificates
{% endblock %}

{% block service_name %}
{% if data['service-name'] %}
{{ data['service-name'] }}
{% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="#" onclick="history.back();">Back</a>

      <form class="form" action="/connect-to-verify/connect-to-integration" method="post">

<h2 class="heading-medium">Submit certificates</h2>
<p>
You must upload copies of security certificates for your:
<ul class="list list-bullet">
  <li>service</li>
  <li>matching service</li>
</ul>
</p>

<p>Verify will use the certificates to communicate with your service securely within the test environment.</p>
<p>You can upload your certificates in .pem or .crt formats.</p>

<h2 class="heading-medium">Service certificates</h2>
<div class="form-group ">
<label class="form-label" for="signature_verification_certificate_transaction">Upload service signature validation certificate</label>
<input class="attachment svc-attachment" name="signature_verification_certificate_transaction-attachment" type="file" accept=".crt, .pem">
</div>
<div class="form-group ">
<label class="form-label" for="encryption_certificate_transaction">Upload service encryption certificate</label>
<input class="attachment svc-attachment" name="encryption_certificate_transaction-attachment" type="file" accept=".crt, .pem">
</div>

<h2 class="heading-medium">Matching service certificates</h2>
<div class="form-group ">
<label class="form-label" for="signature_verification_certificate_match">Upload matching service signature validation certificate</label>

<input class="attachment svc-attachment" name="signature_verification_certificate_match-attachment" type="file" accept=".crt, .pem">
</div>
<div class="form-group ">
<label class="form-label" for="encryption_certificate_match">Upload matching service encryption certificate</label>
<input class="attachment svc-attachment" name="encryption_certificate_match-attachment" type="file" accept=".crt, .pem">
</div>

        <div class="form-group">
          <input type="hidden" value="true" name="certificates-complete">
          <input class="button" type="submit" value="Submit certificates">
        </div>

      </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}
