{% extends "connect-to-verify/layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-large
        ">
          Connection now in progress.
        </h1>
        <div class="govuk-box-highlight">
          <h2 class="heading-medium">
            Verify will now connect your service to the test environment.
            <p>This may take up to 15 minutes.</p> 
          </h2>
        </div> 
      </div>

      <h2 class="heading-medium">What happens next</h2>
        <p>You'll receive an email when the test environment is ready.</p>
        <p>You'll then need to configure your service to interact with the test environment.</p>
        <p><a href="#">How to connect your service to the test environment</a></p>
        <p><a href="/connect-to-verify/service-summary">Return to manage your connections</a></p>
    </div>
  </div>

</main>

{% endblock %}
