{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Connect your service to a test environment
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Before you start
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/connect-to-verify/not-implemented" aria-describedby="eligibility-completed">
                Build a service that handles SAML
              </a>
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="/connect-to-verify/not-implemented" aria-describedby="read-declaration-completed">
                Test that your service will work with Verify
              </a>
              <strong class="task-completed" id="read-declaration-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Configure your connection to the test environment
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/connect-to-verify/urls-and-ids">
                Tell Verify your URLs and IDs
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="/connect-to-verify/certificates">
                Tell Verify which certificates to use
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#">
                Edit the content shown to your end users
              </a>
            </li>
          </ul>
        </li>
      </ol>

      <div>
        <!-- TODO make this conditional on the sections being complete -->
        <a class="button" href="/connect-to-verify/confirmation">Connect</a>
      </div>
    </div>
   <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Help and settings</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="/connect-to-verify/logged-in-home">Switch service</a></li>
              <li><a href="/connect-to-verify/not-implemented">Account settings</a></li>
              <li><a href="/connect-to-verify/not-implemented">Contact Verify</a></li>
            </ul>
          </nav>
        </aside>
      </div>
  </div>
</main>

{% endblock %}
