{% extends "connect-to-verify/layout.html" %}

{% block page_title %}
  Connect to Verify - Connect to a test environment
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Connect {{ data['service-name'] }} to a test environment
      </h1>
      <br>
      <div>
        To connect to the Verify test environment, you must complete the steps below.
      </div>


      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Send and receive messages from Verify
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/connect-to-verify/not-implemented" aria-describedby="eligibility-completed">
                Set up your service to send and receive messages from Verify
              </a>
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="/connect-to-verify/not-implemented" aria-describedby="read-declaration-completed">
                Check your service can send and receive messages from Verify
              </a>
              <strong class="task-completed" id="read-declaration-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Configure your connection to the test environment
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/connect-to-verify/urls-and-ids">
                Submit your service URLs and IDs
              </a>
              {% if data['urls-complete'] %}
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a class="task-name" href="/connect-to-verify/certificates">
                Submit security certificates
              </a>
              {% if data['certificates-complete'] %}
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>
      <div>
            You can also <a href="/connect-to-verify/end-user-content">edit the content</a> shown to your end users. This is not required to connect to the test environment.
      </div>
      <br>
      <div>
        <input type="hidden" value="true" name="integration-submit">
        {% if data['urls-complete'] and data['certificates-complete'] %}
        <a class="button" href="/connect-to-verify/confirmation">Connect</a>
        {% endif %}
      </div>
    </div>
   <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Help and settings</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="/connect-to-verify/logged-in-home">Switch service</a></li>
              <li><a href="/connect-to-verify/not-implemented">Account settings</a></li>
              <li><a href="/connect-to-verify/not-implemented">Contact Verify</a></li>
            </ul>
          </nav>
        </aside>
      </div>
  </div>
</main>

{% endblock %}
