{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <form class="form" action="/connect-to-verify/connect-to-integration" method="post">

      <h2 class="heading-medium">Verify user webpage texts</h2>
    <p>
      Specific signposting webpages are displayed during the user’s journey.
      Your Content Designer should provide the following text:
    </p>

    <form action="/connect-to-verify/connect-to-integration" method="get" novalidate>
    <div class="form-group">
      <div class="form-group ">
        
  <label class="form-label" for="service_display_name">Verify service display name</label>
  <input
    class="form-control "
    id="service_display_name"
    name="verify-service-display-name"
    value="">

    <details>
      <summary>
        <span class="summary">More Information</span>
      </summary>
      <div class="panel panel-border-narrow">

                 <p>
                 Enter your service name, as you need it to appear to the user throughout
                 their Verify journey.</p>

                 <p> Use a sentence starting with a verb, for example
                 <em>"Sign in to your personal tax account"</em>,
                 rather than <em>"Self Assessment tax return"</em>.
                 </p>

      </div>
    </details>
</div>
      <div class="form-group ">
  <label class="form-label" for="other_ways_display_name">Other ways to apply display name</label>


  <input
    class="form-control "
    id="other_ways_display_name"
    name="other-ways-to-apply-display-name"
    value="">

    <details>
      <summary>
        <span class="summary">More Information</span>
      </summary>
      <div class="panel panel-border-narrow">

                 <p>This text defaults to your service display name and is used on the
                 Verify <em>"Other ways to apply"</em> webpage.  This text is displayed when a
                 user is unable to prove their identity using your GOV.UK Verify service.</p>
                 <p>
                 If required, enter an alternative service name here, for example <em>"Access your personal tax account"</em>.
                 </p>

      </div>
    </details>
    <div class="form-group ">
  <label class="form-label" for="other_ways_complete_transaction">Other ways to complete the transaction</label>


  <textarea class="form-control " name="other-ways-to-complete-the-transaction" id="other_ways_complete_transaction" rows="5"></textarea>
    <details>
      <summary>
        <span class="summary">More Information</span>
      </summary>
      <div class="panel panel-border-narrow">

                 <p>
                 This content is displayed as text on the Verify “Other ways to apply” page and is used
                 to show users the alternative routes to access your service.</p>

                 <p>
                 For example: <em>"If you can’t verify your identity using GOV.UK Verify, request Government
                 Gateway user ID and password replacements from HMRC. This can take about 10 working days
                 (or longer if you live abroad). For help, contact the HMRC Online Self Assessment helpline."
                 </em>
                 </p>

                 <p>Please type or paste valid HTML content, including URLs here.
                 </p>
      </div>
    </details>
</div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
