{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">GOV.UK Verify</a></li>
      <li>Connect your service</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>You'll need an account to manage your connections to the Verify test and production environments.</p>

			<p>You can add accounts for other team members later.</p>

			<p>If you already have an account you can <a href="/connect-to-verify/not-implemented">sign in</a>.</p>

			<h1 class="heading-large">Create an account
      </h1>

      <form class="form" action="/connect-to-verify/logged-in-home" method="get">

        <fieldset class="form-group">
          <legend>
            <h2 class="heading-medium">
              What is your email address?
            </h2>
          </legend>

          <div>

            <div class="form-group">
              <label for="email">Must be a government email address</label>
              <div><input class="form-control" id="email" name="email" type="text"></div>
            </div>
            <a href="/connect-to-verify/not-implemented">I don't have a government email address</a>

          </div>
        </fieldset>
        <fieldset class="form-group">
          <legend>
            <h2 class="heading-medium">
              Create a password
            </h2>
          </legend>

          <div>

            <div class="form-group">
              <label for="password">Password<label>
                  <div><input class="form-control" id="password" name="password" type="password"></div>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password<label>
              <div><input class="form-control" id="confirm-password" name="confirm-password" type="password"></div>
            </div>

          </div>
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="/verify">Verify product page</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
