{% extends "layout.html" %}

{% block page_title %}
  Manage your services
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Manage your connections to GOV.UK Verify
      </h1>

      <h2 class="heading-medium">Your services</h2>

      <p>You don't have any services yet</p>

      <p>
        <a class="button button-start" href="/connect-to-verify/create-account" role="button">Create a new connection</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
