{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify - Manage your services
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Manage your connections to GOV.UK Verify
      </h1>

      <h2 class="heading-medium">Your services</h2>

      <ul class="list heading-medium">
      {% if  data['service-name'] %}
      <li>
        <a href="/connect-to-verify/service-summary">{{ data['service-name'] }}</a>
      </li>
      {% else %}
      <p>You don't have any services yet</p>
      {% endif %}
      <br>
      <a href="/connect-to-verify/create-service" role="button">Add a service...</a>
      </ul>

    </div>
  </div>

</main>

{% endblock %}
