{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify - Manage service connections
{% endblock %}

{% block service_name %}
{% if data['service-name'] %}
{{ data['service-name'] }}
{% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="#" onclick="history.back()">Back</a>

      <h1 class="heading-large">
        Manage {{ data['service-name'] }}
      </h1>

      <p>You can connect {{ data['service-name'] }} to Verify prototypes and different environments.</p>

    <ul class="task-list">
      <li>
        <h2 class="task-list-section">
          <span class="task-list-section-number"></span> Connect your service
        </h2>
        <ul class="task-list-items">
          <li class="task-list-item">
            <a class="task-name" href="/connect-to-verify/not-implemented" aria-describedby="eligibility-completed">
              Connect to a prototype
            </a>
            <strong class="task-completed" id="eligibility-completed">Completed</strong>
          </li>
          <li class="task-list-item">
            <a class="task-name" href="/connect-to-verify/connect-to-integration" aria-describedby="read-declaration-completed">
              Connect to test environment
            </a>
            {% if data['integration-submit'] %}
            <strong class="task-completed" id="read-declaration-completed">Completed</strong>
            {% endif %}
          </li>
        </ul>
      </li>
    </div>

    <div class="column-third">
    <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Help and settings</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="/connect-to-verify/logged-in-home">Switch service</a></li>
            <li><a href="/connect-to-verify/not-implemented">Account settings</a></li>
            <li><a href="/connect-to-verify/not-implemented">Contact Verify</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</main>

{% endblock %}
