{% extends "connect-to-verify-2/layout.html" %}

{% block page_title %}
  Invite a new team member - GOV.UK Verify
{% endblock %}

{% block body_classes %}{% endblock %}

{% block content %}
<main id="content" role="main">
  <a href="/connect-to-verify-2/service/4c16ca1f7d76473aaf7919973ba28925" class="link-back">See all team members</a>
  <div>
    <h1 class="heading-large underline">
      <span class="heading-secondary">Team members</span>
      Invite a team member</h1>
  </div>

  <div class="column-full remove-left-margin">
    <form id="invite-member-form" method="post" action="/connect-to-verify-2/service/4c16ca1f7d76473aaf7919973ba28925">
      <div class="form-group">
        <label class="form-label" for="invitee-email">
            Email address
        </label>
        <input type="text" class="form-control" id="invitee-email" name="invitee-email">
      </div>
      <div class="form-group">
        <fieldset>
          <legend class="heading-small">Permission level</legend>
          <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
          <div class="multiple-choice">
            <input id="role-admin-input" type="radio" name="role-input" value="{{admin.id}}">
            <label for="role-admin-input">
              <span class="heading-small">Administrator</span>
              <ul class="question-advice form-hint">
                <li>View dashboard</li>
                <li>Manage settings</li>
              </ul>
            </label>
          </div>
          <div class="multiple-choice">
            <input id="role-view-input" type="radio" name="role-input" value="{{view.id}}" checked>
            <label for="role-view-input"><span class="heading-small">View only</span>
              <ul class="question-advice form-hint">
                <li>View dashboard</li>
                <li>View settings</li>
              </ul>
            </label>
          </div>
        </fieldset>
      </div>
      <div class="form-group call-to-action-group">
        <input type="submit" class="button" value="Send invitation email">
        <br>
        <br>
        <div>
        <a id="service-name-cancel-link" href="{{teamMemberIndexLink}}">
            Cancel
        </a>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}
