{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Sign in
      </h1>

      <p>Sign in to submit certificates</p>

      <div class="form-group">
        <label class="form-label" for="auth-code">
          Auth Code
        </label>
        <input type="text" class="form-control" id="auth-code">
      </div>


      <div class="form-group">
        <a class="button" href="/2fa" role="button">Continue</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
