{% extends "govuk-verify.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      How to Connect to Verify: step by step
    </h1>
    <p class="pub-c-lead-paragraph">
    Check what you need to do to learn to&nbsp;drive.
    </p>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    {{ macro.taskList(tasks) }}
  </div>
</div>
</main>

{% endblock %}
