{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Connecting to Verify Design Sprint Prototypes
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <ul>
      <li><a href="/verify">Verify Product page</a></li>
      <li><a href="/how-to-connect">How to connect to Verify: step by step</a></li>
      <li><a href="/connect-to-verify">Connect to Verify</a></li>
    </ul>
  </div>
</main>

{% endblock %}


