{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% set global_header_text = 'GOV.UK <span>GovWifi</span>' | safe %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">
          {# Set serviceName in config.js. Use a block to override on a page. #}
          {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}
        </a>
        <!--
        <ul id="proposition-links">
          <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
          <li><a href="url-to-page-2">Navigation item #2</a></li>
        </ul>
        -->
      </nav>
    </div>
  </div>

{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_top %}
        <div class="footer-categories">
          <div class="footer-categories-wrapper">
            <div class="grid-row">
              <div class="column-one-third">
                <h2>About</h2>
                <ul>
                  <li>
                    <a href="/verify">
                      GovWifi overview
                    </a>
                  </li>
                  <li>
                    <a href="https://connecting-to-verify-prototype.herokuapp.com/get-started">
                      Get started
                    </a>
                  </li>
                </ul>
              </div>
              <div class="column-one-third">
                <h2>Support</h2>
                <ul>
                  <li>
                    <a href="/verify/support">
                      Contact
                    </a>
                  </li>

                  <li>
                    <a href="http://alphagov.github.io/identity-assurance-documentation/">Documentation</a>
                  </li>
                  <li>
                    <a href="https://verifystatus.digital.cabinet-office.gov.uk">
                      System status
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
