{% extends "product.html" %}

{% set homepage_url = "http://localhost:3000" %}

{% set phase = "beta" %}

{% set useAutoStoreData = false %}

{# Product nav URLs and link text #}
{% set navItems = [
  ['/verify', 'About'],
  ['https://connecting-to-verify-prototype.herokuapp.com/get_started', 'Get started'],
  ['http://alphagov.github.io/identity-assurance-documentation/', 'Documentation'],
  ['/verify/support', 'Support']
] %}

{% block page_title %}
  {{ pageTitle }}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}
